
html {
  background: url("../images/bg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "HelveticaNeue-Light", sans-serif;
  color: white;
  text-align: center;
  font-size: 18px;
}

.wrapper {
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  animation: slideIn .8s linear;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 18px;
}

.alphabet {
  margin: 15px auto;
  padding-top: 20px;
  width: 100%;
}

.alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  background: white;
  color: dimgrey;
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px white;
  transition: background .5s ease-in, transform .25s ease-in-out;
}

.alphabet li:hover {
  background: #696969;
  color: white;
  transform: scale(1.1);
}

#man {
  padding-top: 30px;
  height: 300px;
  width: 170px;
  margin: 0 auto;
  display: table;
  clear: both;
}

button {
  display: inline;
  clear: both;
  border-radius: 5px;
  background: rgba(39, 42, 47, 0.9);
  color: white;
  border: solid 1px white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 30px;
  transition: background .5s ease-in, transform .25s ease-in-out;
}

button:hover {
  background: #696969;
  transform: scale(1.1);
}

.container {
  margin: 0 auto;
  clear: both;
  display: table;
}

.guess {
  letter-spacing: 4px;
  font-size: 2em;
}

li.used-letter {
  background: #696969;
  color: white;
}

@keyframes slideIn {
  0% {transform: translateY(400px);}
  60% {transform: translateY(-50px);}
  80% {transform: translateY(10px);}
  100% {transform: translateY(0);}
}
